:root {
  --bg-color: #fff3e8;
  --accent-color: #d6ccb7;
  --btn-color: #c28829;
  --text-color: #142c2d;
  --card-color: #c68370;
  --header-font: "ABeeZee", sans-serif;
  --font: "inter", sans-serif;
}

.navbar-item {
  color: white;
}

.navbar-item:hover {
  color: #142c2d !important;
}
