:root {
  --bg-color: #fff3e8;
  --accent-color: #d6ccb7;
  --btn-color: #c28829;
  --text-color: #142c2d;
  --card-color: #c68370;
  --header-font: "ABeeZee", sans-serif;
  --font: "inter", sans-serif;
}

input {
  width: 600px !important;}
  
.header {
  background-color: var(--text-color);
  height: 100px;

}

.hero.has-background {
  position: relative;
  overflow: hidden;
}

.hero-background.is-transparent {
  opacity: 0.3;
}

.footer {
  height: 20px;
  padding: 3.0rem;
  padding-top: 1.0rem;
}

.hero-background {
  position: absolute;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
}

.hero-body {
  background-color: var(--accent-color);
  max-height: 300px;
  width: 100%;
}

.full-width {
  width: 100%;
}