:root {
  --bg-color: #fff3e8;
  --accent-color: #d6ccb7;
  --btn-color: #c28829;
  --text-color: #142c2d;
  --card-color: #c68370;
  --header-font: "ABeeZee", sans-serif;
  --font: "inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

input {
  width: 600px !important;
  font-family: var(--font);
}

form {
  font-family: var(--font);
}

.header {
  background-color: var(--text-color);
  height: 100px;
  margin-left: 0;
  margin-right: 0;
  font-family: var(--header-font);
}

.hero.has-background {
  position: relative;
  overflow: hidden;
}

.hero-background.is-transparent {
  opacity: 0.3;
}

.footer {
  height: 20px;
  padding: 3rem;
  padding-top: 1rem;
}

.hero-background {
  position: absolute;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
}

.hero-body {
  background-color: var(--accent-color);
  max-height: 300px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.navbar-item {
  color: white;
  font-family: var(--font);
}

.navbar-item:hover {
  color: #142c2d !important;
}

.subtitle {
  background-color: white;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
}

.no-results {
  font-family: var(--header-font);
  color: var(--text-color);
}


@media screen and (max-width: 1408px) {
  /* .navbar-menu {
    display: contents;
  } */
}

@media screen and (max-width: 1216px) {
  /* .navbar-menu {
    display: contents;
    justify-content: left;
  } */
}

@media screen and (max-width: 1024px) {
  /* .navbar-menu {
    display: contents;
    justify-content: left;
  } */
}

@media screen and (max-width: 1023px) {
  .subtitle {
    display: none;
  }
  /* .navbar-menu {
    display: contents;
    justify-content: left;
  } */
}
